<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>自定义标题</title>

</head>
<body>

<div id="neo4jd3"></div>

<div>
<button type="button" class="btn btn-primary btn-lg" id="addNode" style="float:right">添加</button>
<button type="button" class="btn btn-primary btn-lg" id="refresh" style="float:right">刷新</button>
</div>
</body>
</html>
